Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

MidProject/Content/StarterContent
FPSGame/Content/DarkForest
FPSGame/Content/FoliagePackV1
FPSGame/Content/FPS_Weapon_Bundle
FPSGame/Content/StarterContent
FPSGame/Content/Mannequin
FPSGame/Content/Swat
FPSGame/Content/ThirdPersonBP
FPSGame/Content/WarpsPack
FPSGame/Content/Geometry
Prototype/Content/InfinityBladeAdversaries
Prototype/Content/InfinityBladeEffects
Prototype/Content/InfinityBladeGrassLands
Prototype/Content/Meadow_Environment_Set
Prototype/Content/ParagonKwang
Prototype/Content/RuralAustralia
Prototype/Content/StarterContent
Prototype/Content/WaterMaterials
Prototype/Content/Weapon_Pack
Prototype/Content/ThirdPersonBP
Prototype/Content/ThirdPerson
Prototype/Content/ModularFantasyHouse
Prototype/Content/Mannequin
Prototype/Content/InfinityBladeWarriors
Prototype/Content/GoodSky
Prototype/Content/BossyEnemy
Prototype/Content/Prototype/MachiMap_BuiltData.uasset

