Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

MidProject/Content/StarterContent
Content/KiteDemo
Content/Lighting
Content/ParagonMinions
Content/ParagonPhase
Content/ParagonProps
Content/SampleMap
Content/AdvancedMagicFX13
Content/WarpsPack
Content/sA_PickupSet_1
Content/Magic_Circle_Creator
Content/CraftResourcesIcons
